# SPDX-FileCopyrightText: 2023 Niels Bouma
# SPDX-FileCopyrightText: 2023 - 2025 Slavi Pantaleev
# SPDX-FileCopyrightText: 2025 Suguru Hirahara
#
# SPDX-License-Identifier: Apache-2.0

---

- name: Ensure Changedetection.io paths exist
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: 0750
    owner: "{{ changedetection_uid }}"
    group: "{{ changedetection_gid }}"
  with_items:
    - "{{ changedetection_base_path }}"
    - "{{ changedetection_data_dir_path }}"

- name: Ensure Changedetection.io support files installed
  ansible.builtin.template:
    src: "{{ role_path }}/templates/{{ item }}.j2"
    dest: "{{ changedetection_base_path }}/{{ item }}"
    owner: "{{ changedetection_uid }}"
    group: "{{ changedetection_gid }}"
    mode: 0640
  with_items:
    - env
    - labels

- name: Ensure Changedetection.io playwright-driver support files installed
  when: changedetection_playwright_driver_enabled | bool
  ansible.builtin.template:
    src: "{{ role_path }}/templates/{{ item }}.j2"
    dest: "{{ changedetection_base_path }}/{{ item }}"
    owner: "{{ changedetection_uid }}"
    group: "{{ changedetection_gid }}"
    mode: 0640
  with_items:
    - playwright-env

- name: Ensure Changedetection.io container image is pulled
  community.docker.docker_image:
    name: "{{ changedetection_container_image }}"
    source: "{{ 'pull' if ansible_version.major > 2 or ansible_version.minor > 7 else omit }}"
    force_source: "{{ changedetection_container_image_force_pull if ansible_version.major > 2 or ansible_version.minor >= 8 else omit }}"
    force: "{{ omit if ansible_version.major > 2 or ansible_version.minor >= 8 else changedetection_container_image_force_pull }}"
  register: result
  retries: "{{ devture_playbook_help_container_retries_count }}"
  delay: "{{ devture_playbook_help_container_retries_delay }}"
  until: result is not failed

- name: Ensure Changedetection.io playwright-driver container image is pulled
  when: changedetection_playwright_driver_enabled | bool
  community.docker.docker_image:
    name: "{{ changedetection_playwright_driver_container_image }}"
    source: "{{ 'pull' if ansible_version.major > 2 or ansible_version.minor > 7 else omit }}"
    force_source: "{{ changedetection_playwright_driver_container_image_force_pull if ansible_version.major > 2 or ansible_version.minor >= 8 else omit }}"
    force: "{{ omit if ansible_version.major > 2 or ansible_version.minor >= 8 else changedetection_playwright_driver_container_image_force_pull }}"
  register: result
  retries: "{{ devture_playbook_help_container_retries_count }}"
  delay: "{{ devture_playbook_help_container_retries_delay }}"
  until: result is not failed

- name: Ensure Changedetection.io container network is created
  community.general.docker_network:
    enable_ipv6: "{{ devture_systemd_docker_base_ipv6_enabled }}"
    name: "{{ changedetection_container_network }}"
    driver: bridge
    driver_options: "{{ devture_systemd_docker_base_container_networks_driver_options }}"

- name: Ensure Changedetection.io systemd service is present
  ansible.builtin.template:
    src: "{{ role_path }}/templates/systemd/changedetection.service.j2"
    dest: "{{ devture_systemd_docker_base_systemd_path }}/{{ changedetection_identifier }}.service"
    mode: 0644

- name: Ensure Changedetection.io playwright-driver systemd service is present
  when: changedetection_playwright_driver_enabled | bool
  ansible.builtin.template:
    src: "{{ role_path }}/templates/systemd/changedetection-playwright-driver.service.j2"
    dest: "{{ devture_systemd_docker_base_systemd_path }}/{{ changedetection_playwright_driver_identifier }}.service"
    mode: 0644
