# SPDX-FileCopyrightText: 2023 Niels Bouma
# SPDX-FileCopyrightText: 2023 - 2025 Slavi Pantaleev
# SPDX-FileCopyrightText: 2025 Suguru Hirahara
#
# SPDX-License-Identifier: Apache-2.0

---
- name: Ensure Changedetection.io paths exist
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0750"
    owner: "{{ changedetection_uid }}"
    group: "{{ changedetection_gid }}"
  with_items:
    - "{{ changedetection_base_path }}"
    - "{{ changedetection_data_path }}"

- name: Ensure Changedetection.io support files installed
  ansible.builtin.template:
    src: "{{ role_path }}/templates/{{ item }}.j2"
    dest: "{{ changedetection_base_path }}/{{ item }}"
    mode: "0640"
    owner: "{{ changedetection_uid }}"
    group: "{{ changedetection_gid }}"
  with_items:
    - env
    - labels
  register: changedetection_support_files_result

- name: Run if self-building of Changedetection.io container image is not enabled
  when: "not changedetection_container_image_self_build | bool"
  block:
    - name: Ensure Changedetection.io container image is pulled via community.docker.docker_image
      when: devture_systemd_docker_base_container_image_pull_method == 'ansible-module'
      community.docker.docker_image:
        name: "{{ changedetection_container_image }}"
        source: "{{ 'pull' if ansible_version.major > 2 or ansible_version.minor > 7 else omit }}"
        force_source: "{{ changedetection_container_image_force_pull if ansible_version.major > 2 or ansible_version.minor >= 8 else omit }}"
        force: "{{ omit if ansible_version.major > 2 or ansible_version.minor >= 8 else changedetection_container_image_force_pull }}"
      register: changedetection_container_image_pull_result
      retries: "{{ devture_playbook_help_container_retries_count }}"
      delay: "{{ devture_playbook_help_container_retries_delay }}"
      until: changedetection_container_image_pull_result is not failed

    - name: Ensure Changedetection.io container image is pulled via ansible.builtin.command
      when: devture_systemd_docker_base_container_image_pull_method == 'command'
      ansible.builtin.command:
        cmd: "{{ devture_systemd_docker_base_host_command_docker }} pull {{ changedetection_container_image }}"
      register: changedetection_container_image_pull_result
      retries: "{{ devture_playbook_help_container_retries_count }}"
      delay: "{{ devture_playbook_help_container_retries_delay }}"
      until: changedetection_container_image_pull_result is not failed
      changed_when: "'Downloaded newer image' in changedetection_container_image_pull_result.stdout"

- name: Run if self-building of Changedetection.io container image is enabled
  when: "changedetection_container_image_self_build | bool"
  block:
    - name: Ensure Changedetection.io repository is present on self-build
      ansible.builtin.git:
        repo: "{{ changedetection_container_image_self_build_repo }}"
        version: "{{ changedetection_container_image_self_build_repo_version }}"
        dest: "{{ changedetection_container_image_self_build_src_files_path }}"
        force: "yes"
      register: changedetection_git_pull_results

    # Invoking the `docker build` command here, instead of calling the `docker_image` Ansible module,
    # because the latter does not support BuildKit.
    # See: https://github.com/ansible-collections/community.general/issues/514
    - name: Ensure Changedetection.io container image is built
      ansible.builtin.shell:
        chdir: "{{ changedetection_container_image_self_build_src_files_path }}"
        cmd: |
          {{ devture_systemd_docker_base_host_command_docker }} build \
          -t "{{ changedetection_container_image_self_build_name }}" \
          -f Dockerfile \
          .
      environment:
        DOCKER_BUILDKIT: "1"
      register: changedetection_container_image_build_result
      changed_when: "'Successfully built' in changedetection_container_image_build_result.stdout or ('writing image' in changedetection_container_image_build_result.stderr and 'CACHED' not in changedetection_container_image_build_result.stderr)"

- name: Ensure Changedetection.io container network is created via community.docker.docker_network
  when: devture_systemd_docker_base_container_network_creation_method == 'ansible-module'
  community.docker.docker_network:
    enable_ipv6: "{{ devture_systemd_docker_base_ipv6_enabled }}"
    name: "{{ changedetection_container_network }}"
    driver: bridge
    driver_options: "{{ devture_systemd_docker_base_container_networks_driver_options }}"
  register: changedetection_network_creation_result

- name: Ensure Changedetection.io container network is created via ansible.builtin.command
  when: devture_systemd_docker_base_container_network_creation_method == 'command'
  ansible.builtin.command:
    cmd: >-
      {{ devture_systemd_docker_base_host_command_docker }} network create
      {% if devture_systemd_docker_base_ipv6_enabled %}--ipv6{% endif %}
      {{ devture_systemd_docker_base_container_networks_driver_options_string }}
      {{ changedetection_container_network }}
  register: changedetection_network_creation_result
  changed_when: changedetection_network_creation_result.rc == 0
  failed_when: changedetection_network_creation_result.rc != 0 and 'already exists' not in changedetection_network_creation_result.stderr

- name: Ensure Changedetection.io systemd service is present
  ansible.builtin.template:
    src: "{{ role_path }}/templates/systemd/changedetection.service.j2"
    dest: "{{ devture_systemd_docker_base_systemd_path }}/{{ changedetection_identifier }}.service"
    mode: "0644"
  register: changedetection_systemd_service_result

- name: Run if Playwright webdriver is enabled for Changedetection.io
  when: changedetection_playwright_driver_enabled | bool
  block:
    - name: Ensure Changedetection.io playwright-driver support files installed
      ansible.builtin.template:
        src: "{{ role_path }}/templates/{{ item }}.j2"
        dest: "{{ changedetection_base_path }}/{{ item }}"
        mode: "0640"
        owner: "{{ changedetection_uid }}"
        group: "{{ changedetection_gid }}"
      with_items:
        - playwright-env
      register: changedetection_playwright_driver_support_files_result

    - name: Ensure Changedetection.io playwright-driver container image is pulled via community.docker.docker_image
      when: devture_systemd_docker_base_container_image_pull_method == 'ansible-module'
      community.docker.docker_image:
        name: "{{ changedetection_playwright_driver_container_image }}"
        source: "{{ 'pull' if ansible_version.major > 2 or ansible_version.minor > 7 else omit }}"
        force_source: "{{ changedetection_playwright_driver_container_image_force_pull if ansible_version.major > 2 or ansible_version.minor >= 8 else omit }}"
        force: "{{ omit if ansible_version.major > 2 or ansible_version.minor >= 8 else changedetection_playwright_driver_container_image_force_pull }}"
      register: changedetection_playwright_driver_container_image_pull_result
      retries: "{{ devture_playbook_help_container_retries_count }}"
      delay: "{{ devture_playbook_help_container_retries_delay }}"
      until: changedetection_playwright_driver_container_image_pull_result is not failed

    - name: Ensure Changedetection.io playwright-driver container image is pulled via ansible.builtin.command
      when: devture_systemd_docker_base_container_image_pull_method == 'command'
      ansible.builtin.command:
        cmd: "{{ devture_systemd_docker_base_host_command_docker }} pull {{ changedetection_playwright_driver_container_image }}"
      register: changedetection_playwright_driver_container_image_pull_result
      retries: "{{ devture_playbook_help_container_retries_count }}"
      delay: "{{ devture_playbook_help_container_retries_delay }}"
      until: changedetection_playwright_driver_container_image_pull_result is not failed
      changed_when: "'Downloaded newer image' in changedetection_playwright_driver_container_image_pull_result.stdout"

    - name: Ensure Changedetection.io playwright-driver systemd service is present
      ansible.builtin.template:
        src: "{{ role_path }}/templates/systemd/changedetection-playwright-driver.service.j2"
        dest: "{{ devture_systemd_docker_base_systemd_path }}/{{ changedetection_playwright_driver_identifier }}.service"
        mode: "0644"
      register: changedetection_playwright_driver_systemd_service_result

- name: Determine whether changedetection needs a restart
  ansible.builtin.set_fact:
    changedetection_restart_necessary: >-
      {{
        changedetection_support_files_result.changed | default(false)
        or changedetection_systemd_service_result.changed | default(false)
        or changedetection_container_image_pull_result.changed | default(false)
        or changedetection_container_image_build_result.changed | default(false)
        or changedetection_playwright_driver_support_files_result.changed | default(false)
        or changedetection_playwright_driver_systemd_service_result.changed | default(false)
        or changedetection_playwright_driver_container_image_pull_result.changed | default(false)
      }}
