# SPDX-FileCopyrightText: 2023 Niels Bouma
#
# SPDX-License-Identifier: Apache-2.0

---

- name: Check existence of Changedetection.io systemd service
  ansible.builtin.stat:
    path: "{{ devture_systemd_docker_base_systemd_path }}/{{ changedetection_identifier }}.service"
  register: changedetection_service_stat

- when: changedetection_service_stat.stat.exists | bool
  block:
    - name: Ensure Changedetection.io systemd service is stopped
      ansible.builtin.service:
        name: "{{ changedetection_identifier }}"
        state: stopped
        enabled: false
        daemon_reload: true

    - name: Ensure Changedetection.io systemd service does not exist
      ansible.builtin.file:
        path: "{{ devture_systemd_docker_base_systemd_path }}/{{ changedetection_identifier }}.service"
        state: absent

    - name: Ensure Changedetection.io path does not exist
      ansible.builtin.file:
        path: "{{ changedetection_base_path }}"
        state: absent
