---

- name: Fail if required Changedetection.io settings not defined
  ansible.builtin.fail:
    msg: >-
      You need to define a required configuration setting (`{{ item }}`) for using this role.
  when: "vars[item] == ''"
  with_items:
    - changedetection_hostname
    - changedetection_uid
    - changedetection_gid

- when: changedetection_container_labels_traefik_enabled | bool
  block:
    - name: Fail if required AnonAddy Traefik settings not defined
      ansible.builtin.fail:
        msg: >-
          You need to define a required configuration setting (`{{ item }}`).
      when: "vars[item] == ''"
      with_items:
        - changedetection_container_labels_traefik_hostname
        - changedetection_container_labels_traefik_path_prefix

    # We ensure it doesn't end with a slash, because we handle both (slash and no-slash).
    # Knowing that `changedetection_container_labels_traefik_path_prefix` does not end with a slash
    # ensures we know how to set these routes up without having to do "does it end with a slash" checks elsewhere.
    - name: Fail if changedetection_container_labels_traefik_path_prefix ends with a slash
      ansible.builtin.fail:
        msg: >-
          changedetection_container_labels_traefik_path_prefix (`{{ changedetection_container_labels_traefik_path_prefix }}`) must either be `/` or not end with a slash (e.g. `/anonaddy`).
      when: "changedetection_container_labels_traefik_path_prefix != '/' and changedetection_container_labels_traefik_path_prefix[-1] == '/'"