{#
SPDX-FileCopyrightText: 2023 Niels Bouma

SPDX-License-Identifier: Apache-2.0
#}

[Unit]
Description=Changedetection.io ({{ changedetection_identifier }})
{% for service in changedetection_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ changedetection_identifier }} 2>/dev/null'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ changedetection_identifier }} 2>/dev/null'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
      --rm \
      --name={{ changedetection_identifier }} \
      --log-driver=none \
      --user={{ changedetection_uid }}:{{ changedetection_gid }} \
      --cap-drop=ALL \
      --read-only \
      --network={{ changedetection_container_network }} \
      {% if changedetection_container_http_bind_port %}
      -p {{ changedetection_container_http_bind_port }}:{{ changedetection_container_http_port }} \
      {% endif %}
      --env-file={{ changedetection_base_path }}/env \
      --label-file={{ changedetection_base_path }}/labels \
      --mount type=bind,src={{ changedetection_data_dir_path }},dst=/datastore \
      --tmpfs=/tmp:rw,noexec,nosuid,size=128m \
      {{ changedetection_container_image_self_build_name if changedetection_container_image_self_build else changedetection_container_image }}

{% for network in changedetection_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ changedetection_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ changedetection_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ changedetection_identifier }} 2>/dev/null'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ changedetection_identifier }} 2>/dev/null'
Restart=always
RestartSec=30
SyslogIdentifier={{ changedetection_identifier }}

[Install]
WantedBy=multi-user.target
